name: Build and deploy
on:
  push:
    branches:
      - main

jobs:
  tests:
    uses: ./.github/workflows/tests.yml
    permissions:
      contents: read

  release-please:
    needs: tests
    uses: ./.github/workflows/release_please.yml
    permissions:
      contents: write
      issues: write
      pull-requests: write

  build:
    needs: release-please
    if: ${{ needs.release-please.outputs.release_created }}
    name: Build wheels on ${{ matrix.os }}
    permissions:
      contents: read
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ needs.release-please.outputs.tag_name }}
          fetch-depth: 0

      - uses: actions/setup-python@v6
        with:
          python-version: 3.11

      - name: Build wheels
        uses: pypa/cibuildwheel@v3.3.0

      - uses: actions/upload-artifact@v6
        with:
          name: cibw-wheels-${{ matrix.os }}-${{ strategy.job-index }}
          path: wheelhouse/*.whl

  deploy:
    name: Upload release to PyPI
    needs: build
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/tmatrix
    permissions:
      id-token: write # required for Trusted Publishing to PyPI

    steps:
      - uses: actions/download-artifact@v7
        with:
          pattern: cibw-*
          path: wheelhouse
          merge-multiple: true

      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: wheelhouse
